<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/post-view.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/votes.js"></script>

    <script>
        $(document).ready(function() {
            // Function to update the textarea height based on the content
            $("#comment-area").on("input", function () {
                const textarea = $("#comment-area")[0];
                textarea.style.height = "auto"; // Reset the height to allow auto resizing
                textarea.style.height = textarea.scrollHeight + "px"; // Set the new height based on content
            });  

        });
    </script>

    <title>{{ title }}</title>
</head>
<body>
    <header>
        <a href="/">
            <img id="logo" alt="Convo Logo" src="../../images/ConvoLogo2.png">
        </a>
        <div id="div-for-layout"></div>
        {{#if user_auth}}
            <span>Welcome, <a href="/users/{{user_auth}}">{{user_auth}}</a>! <a href="/logout">Logout</a></span>
        {{else}}
            <a id="link-register" href="/signup">Register</a>
            <span>or</span>
            <button class="btn btn-primary" id="login-btn" onclick="window.location.href='/login';">Login</button>
        {{/if}}
    </header>
    {{{ body }}}
</body>
</html>