<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../styles/profile.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <title>{{ username }}'s Profile</title>
    </head>
    <body>
        <header>
            <a href="/">
                <img id="logo" src="../images/ConvoLogo2.png">
            </a>
            <div id="div-for-layout"></div>
            <div>
                {{#if user_auth}}
                    <span>Welcome, <a href="/users/{{user_auth}}">{{user_auth}}</a>! <a href="/logout">Logout</a></span>
                {{else}}
                    <a id="link-register" href="/signup">Register</a>
                    <span>or</span>
                    <button class="btn btn-primary" id="login-btn" onclick="window.location.href='/login';">Login</button>
                {{/if}}
            </div>
        </header>

        {{{ body }}}
    </body>
</html>