<div class="comment" dataMongodbId="{{ _id }}">
    <div id="comment-info-cont">
        <p><span class="bold-text">{{ author }}</span> · {{xDaysAgo date }}</p>
    </div>

    <div id="comment-content-cont">
        {{ body }}
    </div>

    <div id="comment-actions">
        <span class="comment-votes"> 
            <img class="comment-icons upvote-btn" src="../images/upvote-icon.png" alt="upvote">
            {{ votes }}
            <img class="comment-icons downvote-btn" src="../images/downvote-icon.png" alt="downvote">
        </span>
        {{!-- Maybe implement replying --}}
    </div>
</div>